﻿@model Sell_it.Data.Entities.Purchase

@{
    ViewData["Title"] = "Buy Product";
}

<div class="card">
    <div class="card-header">
        <h2>@Model.Product.Name</h2>
        by @Model.Product.Seller.UserName
    </div>

    <div class="card-body">
        <p>Description: @Model.Product.Description</p>
        <p>Bought at: @Model.Timestamp</p>

        <div class="d-flex gap-2">
            @foreach(var photo in Model.Product.Photos.ToList())
            {
                <div style="width: 250px; height: 250px;">
                    <img src="@Url.Content(photo.Path)" alt="Product image here" class="w-100 h-100"/>
                </div>
            }
        </div>
    </div>

    <div class="card-footer">
        <form asp-controller="Purchases" asp-action="Buy" method="POST">
            <input type="hidden" asp-for="ProductId"/>
            <button type="submit" class="btn btn-success">Buy Product</button>
        </form>
    </div>

</div>