﻿@model List<Sell_it.Data.Entities.Purchase>

@{
    ViewData["Title"] = "My Purchases";
}

<h1 class="text-center">My Purchases</h1>

@if(Model.Count == 0)
{
    <h1 class="text-center">You don't have any purchases yet!</h1>
}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Category</th>
            <th scope="col">Bought At</th>
            <th scope="col">Seller</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.Product.Photos.ElementAt(0).Path)" alt="Product image here" style="width: 100px; height: 100px;"/>
                </td>
                <td style="vertical-align: middle">@item.Product.Name</td>
                <td style="vertical-align: middle">$@item.Product.Price</td>
                <td style="vertical-align: middle">@item.Product.Category.Name</td>
                <td style="vertical-align: middle">@item.Timestamp</td>
                <td style="vertical-align: middle">@item.Product.Seller.UserName</td>
                <td style="vertical-align: middle">
                    <a class="btn btn-danger" asp-action="Remove" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>