﻿@using Sell_it.Data.Entities
@model Category
@{
    ViewData["Title"] = "Create Category";
}

<form asp-controller="Categories" asp-action="Create" method="POST">
    <div class="form-group mt-2">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <span class="text-danger">@ViewBag.ErrorMessage</span>
    </div>

     <input type="submit" class="btn btn-primary mt-2" value="Create"/>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}