﻿@model Sell_it.Data.Entities.Category

@{
    ViewData["Title"] = "Delete Category";
}

<h1>Are you sure you want to delete category @Model.Name?</h1>

<form asp-controller="Categories" asp-action="Delete" method="POST">
    <p class="mt-0 mb-0">Name:</p>
    <input disabled="disabled" class="form-control" value="@Model.Name" />

    <input type="submit" class="btn btn-danger mt-2" value="Delete"/>
</form>
