﻿@using Sell_it.Data.Entities
@model ICollection<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1 class="text-center">Categories</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Category Name</th>
            <th scope="col">Category Id</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Id</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>