﻿@model IList<UserRolesViewModel>

@{
    ViewData["Title"] = "User Roles";
}

<h1 class="text-center">Users</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">UserName</th>
            <th scope="col">User Id</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.UserId</td>
                <td>@item.Role</td>
                <td>
                    <a class="btn btn-primary" asp-action="Manage" asp-route-userId="@item.UserId">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>