﻿@using Sell_it.Data.Entities
@model UserRolesViewModel

@{
    ViewData["Title"] = "Manage Roles";
}

<form asp-controller="Roles" asp-action="Manage" method="POST">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Roles</h2>
            for @Model.UserName
        </div>

        <div class="card-body">

            <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId"/>

            <div class="form-group">
                <input type="radio" asp-for="@Model.Role" value="@Roles.User.ToString()"/>
                <label asp-for="@Model.Role" class="control-label">@Roles.User.ToString()</label>
            </div>

            <div class="form-group">
                <input type="radio" asp-for="@Model.Role" value="@Roles.Admin.ToString()"/>
                <label asp-for="@Model.Role" class="control-label">@Roles.Admin.ToString()</label>
            </div>
        </div>

        <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>

    </div>
</form>