﻿@model Sell_it.Web.Models.ProductCreateViewModel

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create page</h1>
<form id="Form" asp-controller="Products" asp-action="Create" method="POST">
    <div class="form-group mt-2">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Price" class="control-label"></label>
        <input type="number" step="0.01" asp-for="Price" class="form-control" />
        <span id="PriceValidation" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="CategoryId" class="control-label">Category</label>
        <select asp-for="CategoryId" class="form-select" asp-items="@ViewBag.CategoryId"></select>
    </div>

    <div class="form-group mt-2">
        <p class="control-label mt-0 mb-0">Number of pictures for your product</p>
        <select id="img-number" class="form-select">
            @for(int i = 1; i <= 5; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>

    <input type="submit" class="btn btn-primary mt-2" value="Create"/>
</form>


@section Scripts {
    <script src="~/js/image-urls.js"></script>
    <script src="~/js/product-price-validation.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
