﻿@model Sell_it.Data.Entities.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Are you sure you want to delete @Model.Name?</h1>

<form asp-controller="Products" asp-action="Delete" method="POST">
    <div class="form-group mt-2">
        <p class="mt-0 mb-0">Name:</p>
        <input disabled="disabled" class="form-control" value="@Model.Name"/>
    </div>

    <div class="form-group mt-2">
        <p class="mt-0 mb-0">Description:</p>
        <input disabled="disabled" class="form-control" value="@Model.Description"/>
    </div>

    <div class="form-group mt-2">
        <p class="mt-0 mb-0">Price:</p>
        <input disabled="disabled" class="form-control" value="@Model.Price"/>
    </div>

    <div class="form-group mt-2">
        <p class="mt-0 mb-0">Category:</p>
        <input disabled="disabled" class="form-control" value="@Model.Category.Name"/>
    </div>

    <div class="d-flex gap-2 mt-2 mb-2">
        @foreach(var photo in Model.Photos.ToList())
        {
            <div style="width: 250px; height: 250px;">
                <img src="@Url.Content(photo.Path)" alt="Product image here" class="w-100 h-100"/>
            </div>
        }
    </div>

    <input type="submit" class="btn btn-danger" value="Delete"/>
</form>