﻿@model Sell_it.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details about @Model.Name</h1>

<section class="d-flex flex-column">
    <article class="d-flex gap-2">
        @foreach(var photo in Model.Photos.ToList())
        {
            <div style="width: 250px; height: 250px;">
                <img src="@Url.Content(photo.Path)" alt="Product image here" class="w-100 h-100"/>
            </div>
        }
    </article>

    <div>
        <p>Name: @Model.Name</p>
        <p>Description: @Model.Description</p>
        <p>Price: $@Model.Price</p>
        <p>Category: @Model.Category.Name</p>
    </div>
</section>