﻿@model Sell_it.Web.Models.ProductCreateViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit @Model.Name</h1>

<form id="Form" asp-controller="Products" asp-action="Edit" method="POST">
    <div class="form-group mt-2">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" value="@Model.Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" value="@Model.Description"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Price" class="control-label"></label>
        <input type="number" step="0.01" asp-for="Price" class="form-control" value="@Model.Price"/>
        <span id="PriceValidation" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="CategoryId" class="control-label">Category</label>
        <select asp-for="CategoryId" class="form-select" asp-items="@ViewBag.CategoryId"></select>
    </div>

    <div class="form-group mt-2">
        <p class="control-label mt-0 mb-0">Number of pictures for your product</p>
        <select id="img-number" class="form-select">
            @for(int i = 1; i <= 5; i++)
            {
                @if(i == Model.ImageUrls.Count)
                {
                    <option value="@i" selected>@i</option>
                    continue;
                }

                <option value="@i">@i</option>
            }
        </select>
    </div>

    @for(int i = 0; i < Model.ImageUrls.Count; i++)
    {
        <div class="form-group img-urls">
            <label for="ImageUrls[@i]" class="control-label">Image Url @(i + 1)</label>
            <input id="img-url-@(i + 1)" name="ImageUrls[@i]" class="form-control" value="@Model.ImageUrls.ToList()[i]"/>
            <span id="error-msg-@(i + 1)" class="text-danger"></span>
        </div>
    }

    <input type="submit" class="btn btn-primary mt-2" value="Edit"/>
</form>

@section Scripts {
    <script src="~/js/image-urls.js"></script>
    <script src="~/js/product-price-validation.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}