﻿@using Microsoft.AspNetCore.Identity
@using Sell_it.Data.Entities

@inject UserManager<User> UserManager

@model ProductListViewModel

@{
    ViewData["Title"] = "All Products";
}

<h1 class="text-center">All Products</h1>

<form class="d-flex gap-2 align-items-baseline" asp-controller="Products" asp-action="Index" method="POST">
    <p>Category: </p>
    <select asp-for="CategoryId" class="form-select w-25" asp-items="@ViewBag.CategoryId">
        <option value="" selected>Select a category</option>
    </select>

    <p>Price: </p>
    <select asp-for="PriceOrder" class="form-select w-25">
        <option value="Ascending">Ascending</option>
        <option value="Descending">Descending</option>
    </select>

    <input asp-for="SearchName" class="form-control w-25"/>

    <input type="submit" class="btn btn-primary" value="Filter" />
</form>

<section class="d-flex flex-column">
    @if(Model.Products.Count == 0)
    {
        <h1 class="text-center">No products yet!</h1>
    }
    @foreach(var item in Model.Products) 
    {
        <article class="d-flex flex-row justify-content-between">
            <div class="d-flex gap-2">
                <div style="width: 250px; height: 250px;">
                    <img class="w-100 h-100" src="@Url.Content(item.Photos.ToList()[0].Path)" alt="Image here"/>
                </div>

                <div>
                    <p>Name: @Html.DisplayFor(modelItem => item.Name)</p>
                    <p>Description: @Html.DisplayFor(modelItem => item.Description)</p>
                    <p>Price: $@Html.DisplayFor(modelItem => item.Price)</p>
                    <p>Category: @Html.DisplayFor(modelItem => item.Category.Name)</p>
                    <p>User: @Html.DisplayFor(modelItem => item.Seller.UserName)</p>
                </div>
            </div>
            <div>
                <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.Id">Details</a>
               
                @if(UserManager.GetUserId(User) == item.Seller.Id)
                {
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                } 
                else
                {
                    <a class="btn btn-success" asp-controller="Purchases" asp-action="Buy" asp-route-productId="@item.Id">Buy</a>
                }
            </div>
        </article>
        <hr />
    }
</section>